.card {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  list-style: none;
  overflow: hidden;
  position: relative;
}

.card__image {
  display: grid;
  width: 282px;
  height: 282px;
  position: relative;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  margin: 0;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.card__description-text {
  margin: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  /* overflow text*/
  max-width: 219px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.edit-modal-close-button {
  cursor: pointer;
  opacity: 50%;
}

.add-modal-close-button {
  cursor: pointer;
  opacity: 50%;
}

.modal-close-button {
  cursor: pointer;
  opacity: 50%;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button-active {
  background-image: url(../images/like-active.svg);
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 50%;
}

.card__trash-button {
  background: transparent url(../images/Trash.svg);
  width: 18px;
  height: 19px;
  top: 18px;
  left: 249px;
  border: none;
  position: absolute;
}

.card__trash-button:hover {
  cursor: pointer;
  opacity: 50%;
}

